body {
    background: linear-gradient(to bottom, #230202, #000000);
    color: #fff;
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding: 40px 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-shadow: 0 0 15px #ff5733;
  }
  
  #dica-container {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 25px;
    max-width: 600px;
    box-shadow: 0 0 15px #ff4800;
  }
  
  #dica {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background: linear-gradient(145deg, #ff5f4d, #b0302a);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  #toggleTheme {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 18px;
    background: linear-gradient(145deg, #f39c12, #8a2be2);
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 5px 12px rgba(255, 255, 255, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  
  #toggleTheme:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.4);
  }
  
  
  button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff8866;
  }
  
  .voltar {
    margin-top: 30px;
    text-decoration: none;
    color: #ffbdbd;
    font-size: 1rem;
    transition: color 0.2s ease;
  }
  
  .voltar:hover {
    color: #ffffff;
    text-decoration: underline;
  }

